<div class="mt-4">
    <form method="post" action="">
  <div class="mb-3">
    <label for="search-input" class="form-label">Tim Kiem</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa">
  </div>
  
  <div class="mb-3">
    <label for="gender-input" class="form-label">Tu khoa</label>
    <select name="gender" class="form-control" id="">
        <option value="">---chon gioi tinh</option>
        <option value="Nam">Male</option>
        <option value="Nu">Female</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Tim Kiem</button>
</form>
</div>